body {
    margin: 0;
}
header {
    background: #03a9f4;
    text-align: center
}
.logo {
    color: #fff;
    fontFamily: 'Anton';
    font-size: 40px;
    alignment: left;

}

header-input {
    font-size: 20px;
    margin: 20px;
}

.news_item {
    background: aliceblue;
}
